prod:
  namespace: myiconteam # Rename to your org to make unique

  public_key_path: /Users/example/.ssh/deployment_key.pub  # Generate ssh keys
  private_key_path: /Users/example/.ssh/deployment_key

  domain_name: example.com # Buy a domain on AWS for this.  Otherwise comment this variable to use only IPs.

  rds_admin_user: rds_admin_user
  rds_admin_password: changemenow

  redshift_admin_user: redshift_admin_user
  redshift_admin_password: changemenow

  airflow_username: airflow_username
  airflow_password: changemenow
  airflow_db: airflow # Name of the DB

  superset_username: superset_user
  superset_password: changemenow
  superset_email: recovery@email.com

  certbot_admin_email: recovery@example.com
