prod:
  public_key_path: /Users/example/.ssh/deployment_key.pub
  private_key_path: /Users/example/.ssh/deployment_key
  rds_admin_user: rds_admin_user
  rds_admin_password: rds_admin_password
  redshift_admin_user: redshift_admin_user
  redshift_admin_password: redshift_admin_password
  domain_name: prod.your-domain.sample
  airflow_username: airflow_username
  airflow_password: airflow_password
  airflow_db: airflow

dev:
  public_key_path: /Users/example/.ssh/deployment_key.pub
  private_key_path: /Users/example/.ssh/deployment_key
  rds_admin_user: rds_admin_user
  rds_admin_password: rds_admin_password
  redshift_admin_user: redshift_admin_user
  redshift_admin_password: redshift_admin_password
  domain_name: dev.your-domain.sample
  airflow_username: airflow_username
  airflow_password: airflow_password
  airflow_db: airflow